
.glasses {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.glass {
    flex: 0 0 33.33%;
    height: 33.33%;
    position: relative;
    border: 1px solid black;
    border-top: none;
    text-align: center;
}
.glass:not(:first-of-type) {
    border-left: none;
}
